@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 25px;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  text-align: center;
  display: inline-block;
}
.banner h1 {
  font-size: 50px;
}

.banner-btn {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 14px;
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  transition: 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background-color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}

.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 6.5rem;
}

.products-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.6rem 0.85rem;
  font-weight: bold;
  transition: all 0.3s ease;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.6rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-top: 1.1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.83rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.03s ease;
  background-color: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBsg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.79rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.7rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.9rem;
  text-transform: capitalize;
}
.item-amount {
  text-align: center;
}

.cart-footer {
  text-align: center;
}

.arrow {
  color: var(--primaryColor);
}
.remove-item {
  color: grey;
}
